
 html,
 body {
   height: 80%;
   margin: 0;
   padding: 0;
 }

 p {
   white-space: pre;
  }

i{
   color:brown;
}

 #map,
 #pano {
   height: 50%;
   width: 27%;
   border: gray;
   border-style: dashed;
 }

 #pano {
   display: contents;
   position: absolute;
   z-index: 0;
   width: 100%;
   height: 91.5%;
 }
 
 #map{
   margin-top: 15%;
   opacity: .8;
   bottom: 2rem;
   z-index: 1;
   display: flex;
   float: right;
   border: none;
   z-index: 100
   ;
 }
 #map:hover{
   opacity: 1;
 }
 #submit,#newmap{
    border-radius: .2rem;
    border-style:ridge;
    font-size:smaller;
    background-color:seashell;
    margin: .2rem;
 }

 #header {
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 0rem;
    border: black;
    width: 20%;
    margin-left: 40%;
    padding: .2rem;
    border-style:double;
    background-color: antiquewhite;
    position: absolute;
    z-index: 100;
 }


 #distance{
   font-size: larger;
   text-align: center;
 }

 #panel{
   margin-left: 73%;
   width: fit-content;
   text-align: center;
   border: black;
   border-style:solid;
   position: fixed;
   top: 27.85rem;
   background-color: antiquewhite;
   z-index: 100;
 }