
 html,
 body {
   height: 80%;
   margin: 0;
   padding: 0;
 }

 p {
   white-space: pre;
  }

i{
   color:brown;
}

 #map,
 #pano {
   height: 15rem;
   width: 30%;
   border: gray;
   border-style: dashed;
 }

 #pano {
   display: contents;
   position: absolute;
   z-index: 0;
   width: 100%;
   height: 91.5%;
 }
 
 #map{
  opacity: .8;
  border: none;
  z-index: 100;
  display: flow-root;
 }
 #map:hover{
   opacity: 1;
 }
 #submit,#newmap{
    border-radius: .2rem;
    border-style:ridge;
    font-size:smaller;
    background-color:seashell;
    margin: .2rem;
 }

 #header {
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 0rem;
    border: black;
    width: 20%;
    margin-left: 40%;
    padding: .2rem;
    border-style:double;
    background-color: antiquewhite;
    position: absolute;
    z-index: 100;
 }


 #distance{
   font-size: larger;
   text-align: center;
 }

 #panel{ 
  width: fit-content;
  text-align: center;
  border: black;
  border-style: solid;
  position: relative;
  background-color: antiquewhite;
  z-index: 100;
  display: flow-root;
  float: right;
 }