
 html,
 body {
   height: 80%;
   margin: 0;
   padding: 0;
 }

 p {
   white-space: pre;
  }

i{
   color:brown;
}

 #map {
  opacity: .8;
  z-index: 100;
  display: flow-root;
  width: 27%;
  height: 15rem;
 }

 #pano {
   display: contents;
   position: absolute;
   z-index: 0;
   width: 100%;
   height: 91.5%;
 }
 
 #map:hover{
   opacity: 1;
 }
 #submit,#newmap,#showhistory{
    border-radius: .2rem;
    border-style:ridge;
    font-size:smaller;
    background-color:seashell;
    margin: .2rem;
 }
 #history{  
  overflow: auto;
 }
 #historyTable{
  text-align: center;
  padding: .5rem;
  margin: 0 auto;
 }
 th{
  font-size: larger;
 }
 td{
  text-align: left;
  border: black;
  border-style: solid;
  border-width: thin;
 }

 #headerContainer {
  text-align: center;
  display: table;
  justify-content: center;
  font-size: 1rem;
  margin: 0rem;
  margin-left: 0rem;
  border: black;
  width: fit-content;
  padding: .2rem;
  border-style: double;
  background-color: antiquewhite;
  position: absolute;
  z-index: 100;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

#header {
  font-size: 2.5rem;
  text-align: center;
  display:flex;
  margin: 0rem;
  z-index: 100;
}
#timer{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Monospace;
}

 #distance{
  font-weight: 200;
   font-size: larger;
   text-align: center;
 }

 #panel{ 
  text-align: center;
  font-family: Monospace;
  width: 25%;
  text-align: center;
  border: black;
  border-style: solid;
  position: relative;
  background-color: antiquewhite;
  z-index: 100;
  display: flow-root;
  float: right;
 }